<aside class="menu">
    <p class="menu-label">Created groups</p>
    <ul class="menu-list">
        <% current_user.created_groups.each do |g| %>
            <div class="level-left">
                <%= link_to g.name, root_path(:group_id => g.id), class:"mr-2"%>
                <%= link_to "delete", g, method: :delete, data: { confirm: 'Are you sure?' }, class:"delete"%>
            </div>
        <%end%>
    </ul>
    <p class="menu-label">Joined groups</p>
    <ul class="menu-list">
        <% current_user.groups.each do |g| %>
            <% unless current_user.created_groups.include?(g) %>
                <li><%= link_to g.name, root_path(:group_id => g.id)%></li>
            <% end %>
        <%end%>
    </ul>
</aside>
