<p>post feed goes here</p>

<% @posts.each do |p| %>
    <p><%=p.title%></p>
    <p><%=p.body%></p>
    <%= link_to "delete post", p, method: :delete, data: { confirm: 'Are you sure?' }, class:"is-size-7"%>
<%end%>